{% extends "layout.html" %}

{% block title %}
Our Work
{% endblock %}
{% block main %}

    <!-- Our Projects Page -->
    <div class="title"> Our Work <hr> </div>

    <!-- Project 1 -->
    <div class="row featurette">
        <div class="col-md-7">
          <h2 class="subheading text-start"> Trip to Muparutsa Secondary School </h2>
          <p class="paragraph text-start">Our March 2021 distribution trip (pictured left) delievered reusable sanitary pads and educational supplies to the young women of Muparutsa secondary schoo. Visits like these allow us to asses the young women’s needs as far as school supplies and school fees.
          </p>
        </div>
        <div class="col-md-5">
            <img src="/static/img/ExampleImage.jpg" width="100%">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- Project 2 -->
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="subheading text-end"> Giving Modern Solutions </h2>
          <p class="paragraph text-end" >Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="/static/img/ExampleImage3.jpg" width="100%">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- Project 3 -->
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="subheading text-start">And lastly, this one. </h2>
          <p class="paragraph text-start">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
        </div>
        <div class="col-md-5">
            <img src="/static/img/ExampleImage2.png" width="100%">
        </div>
      </div>

{% endblock %}