{% extends "layout.html" %}

{% block title %}
About Us
{% endblock %}
{% block main %}

<!-- About us Page -->
<div class="title"> Who We Are <hr> </div>

<p class="subheading text-start py-4"> Our mission statment: </p>
<p class="paragraph text-start"> Elevate Women Period is the creation of two friends, Dadi Masusa and Crystal Briden. Young women in Zimbabwe often leave school or are absent for periods of time due to menstruation challenges. These girls often have no education in regards to female health and lack basic sanitary pads. The goal of this trust is to provide health education and reusable sanitary pads to these young women. Our secondary goal is to encourage the education of young girls through providing school supplies and educating young women about the importance of continuing their education.
</p>

<div class="container d-flex py-5">

    <!-- Potential Introduction of Members  -->
    <div class="d-flex flex-row justify-content-evenly">
        <div class="col-lg-4">
            <img src="/static/img/Dadi.jpg" width="140" height="140" class="rounded-circle">
            <h2 class="subheading pt-4 paragraph text-start">Dadi Masusa</h2>
            <p class="paragraph text-start">Dadi Masusa was born in the Eastern Highlands of Zimbabwe. She has a heart for these young women who struggle to gain their education. Dadi runs a successful massage therapy business in Harare and has two daughters of her own. </p>
            <!-- <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p> -->
        </div>
        <div class="col-lg-4">
            <img src="/static/img/Crystal.jpg" width="140" height="140" class="rounded-circle">
            <h2 class="subheading pt-4 paragraph text-start ">Crystal Briden</h2>
            <p class="paragraph text-start">Crystal Briden is from the USA, the state of Michigan. Crystal has always been drawn to women’s health issues. Crystal is a registered nurse with a bachelor's degree in Maternal Child Health. She has lived in Harare since 2020, is married with 5 children of her own.</p>
            <!-- <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p> -->
        </div>

    </div>
</div>



{% endblock %}