{% extends "layout.html" %}

{% block title %}
Our Work
{% endblock %}
{% block main %}

    <!-- Our Projects Page -->
    <div class="title"> Our Work <hr> </div>

    <!-- Project 1 -->
    <div class="row featurette">
        <div class="col-md-7">
          <h2 class="subheading text-start"></h2>
          <p class="paragraph text-start">Working with Muparutsa school, we deliever reusable sanitary pads and educational supplies to the young women of their secondary school. Visits like these allow us to asses the young women’s needs as far as school supplies and school fees.
          </p>
        </div>
        <div class="col-md-5">
            <img src="/static/img/Project1.jpeg" height="200px" object-fit="cover">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- Project 2 -->
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="subheading text-end">  </h2>
          <p class="paragraph text-end" >Children in Magejo Secondary school in the Honde valley of Zimbabwe receiving bags of sanitary supplies during our visit. </p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="/static/img/Project2.jpg" width="100%" object-fit="cover" >
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- Project 3 -->
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="subheading text-start"> </h2>
          <p class="paragraph text-start">Around Zimbabwe, we have gotten menstrual sanitary supplies to young girls from all backgrounds.</p>
        </div>
        <div class="col-md-5">
            <img src="/static/img/Project3.png" width="100%">
        </div>
      </div>

{% endblock %}